USE [master]
GO
/****** Object:  Database [ForoDiscusion]    Script Date: 08/03/2026 12:13:07 a. m. ******/
CREATE DATABASE [ForoDiscusion]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ForoDiscusion', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ForoDiscusion.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ForoDiscusion_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ForoDiscusion_log.ldf' , SIZE = 204800KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ForoDiscusion].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ForoDiscusion]
GO
/****** Object:  Table [dbo].[Administrador]    Script Date: 08/03/2026 12:13:07 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Administrador](
	[idAdministrador] [int] NOT NULL,
	[nombreAdministrador] [varchar](50) NULL,
	[apellidoP_Administrador] [varchar](50) NULL,
	[apellidoM_Administrador] [varchar](50) NULL,
	[correoAdministrador] [varchar](50) NULL,
	[telefonoAdministrador] [varchar](15) NULL,
	[contrasenaAdministrador] [varchar](50) NULL,
	[fechaN_Administrador] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[idAdministrador] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categoria]    Script Date: 08/03/2026 12:13:07 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categoria](
	[idCategoria] [int] NOT NULL,
	[nombreCategoria] [varchar](50) NULL,
	[descripcionCategoria] [varchar](255) NULL,
	[fechaCreacion] [date] NULL,
	[fechaModificacion] [date] NULL,
	[URL_Categoria] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[idCategoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comentario]    Script Date: 08/03/2026 12:13:07 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comentario](
	[idComentario] [int] NOT NULL,
	[contenidoComentario] [text] NULL,
	[fechaComentario] [date] NULL,
	[idPublicacion] [int] NULL,
	[idEntrada_Usuario] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[idComentario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Configuracion]    Script Date: 08/03/2026 12:13:07 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Configuracion](
	[idConfiguracion] [int] NOT NULL,
	[estadoConfiguracion] [varchar](50) NULL,
	[tipoConfiguracion] [varchar](50) NULL,
	[fechaCreacion] [date] NULL,
	[usuarioModificacion] [varchar](50) NULL,
	[numeroRequerido] [int] NULL,
	[idEntrada_Administrador] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[idConfiguracion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Entrada_Administrador]    Script Date: 08/03/2026 12:13:07 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Entrada_Administrador](
	[idEntrada_Administrador] [int] NOT NULL,
	[horaEntrada_Administrador] [time](7) NULL,
	[fechaEntrada_Administrador] [date] NULL,
	[idAdministrador] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[idEntrada_Administrador] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Entrada_Usuario]    Script Date: 08/03/2026 12:13:07 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Entrada_Usuario](
	[idEntrada_Usuario] [int] NOT NULL,
	[horaEntrada_Usuario] [time](7) NULL,
	[fechaEntrada_Usuario] [date] NULL,
	[idUsuario] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[idEntrada_Usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Hilo]    Script Date: 08/03/2026 12:13:07 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hilo](
	[idHilo] [int] NOT NULL,
	[tituloHilo] [varchar](255) NULL,
	[fechaCreacion] [date] NULL,
	[creadorHilo] [varchar](50) NULL,
	[contenidoHilo] [text] NULL,
	[numeroVisitas] [int] NULL,
	[numeroRespuestas] [int] NULL,
	[numeroLikes] [int] NULL,
	[fechaModificacion] [date] NULL,
	[idSubcategoria] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[idHilo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Paso1]    Script Date: 08/03/2026 12:13:07 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Paso1](
	[idSalida_Usuario] [int] NULL,
	[idEntrada_Usuario] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Paso2]    Script Date: 08/03/2026 12:13:07 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Paso2](
	[idSalida_Administrador] [int] NULL,
	[idEntrada_Administrador] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Publicacion]    Script Date: 08/03/2026 12:13:07 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Publicacion](
	[idPublicacion] [int] NOT NULL,
	[contenidoPublicacion] [text] NULL,
	[fechaPublicacion] [date] NULL,
	[tituloPublicacion] [varchar](255) NULL,
	[estadoPublicacion] [varchar](50) NULL,
	[tipoPublicacion] [varchar](50) NULL,
	[idHilo] [int] NULL,
	[idUsuario] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[idPublicacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reaccion]    Script Date: 08/03/2026 12:13:07 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reaccion](
	[idReaccion] [int] NOT NULL,
	[tipoReaccion] [varchar](50) NULL,
	[fechaReaccion] [date] NULL,
	[idPublicacion] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[idReaccion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reporte]    Script Date: 08/03/2026 12:13:07 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reporte](
	[idReporte] [int] NOT NULL,
	[fechaReporte] [date] NULL,
	[estadoReporte] [varchar](50) NULL,
	[tipoReporte] [varchar](50) NULL,
	[descripcionReporte] [text] NULL,
	[idPublicacion] [int] NULL,
	[idEntrada_Administrador] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[idReporte] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Salida_Administrador]    Script Date: 08/03/2026 12:13:07 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Salida_Administrador](
	[idSalida_Administrador] [int] NOT NULL,
	[horaSalida_Administrador] [time](7) NULL,
	[fechaSalida_Administrador] [date] NULL,
	[idAdministrador] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[idSalida_Administrador] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Salida_Usuario]    Script Date: 08/03/2026 12:13:07 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Salida_Usuario](
	[idSalida_Usuario] [int] NOT NULL,
	[horaSalida_Usuario] [time](7) NULL,
	[fechaSalida_Usuario] [date] NULL,
	[idUsuario] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[idSalida_Usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Subcategoria]    Script Date: 08/03/2026 12:13:07 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subcategoria](
	[idSubcategoria] [int] NOT NULL,
	[nombreSubcategoria] [varchar](50) NULL,
	[descripcionSubcategoria] [varchar](255) NULL,
	[fechaCreacion] [date] NULL,
	[fechaModificacion] [date] NULL,
	[idCategoria] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[idSubcategoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 08/03/2026 12:13:07 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[idUsuario] [int] NOT NULL,
	[nombreUsuario] [varchar](50) NULL,
	[apellidoP_Usuario] [varchar](50) NULL,
	[apellidoM_Usuario] [varchar](50) NULL,
	[correoUsuario] [varchar](50) NULL,
	[telefonoUsuario] [varchar](15) NULL,
	[contrasenaUsuario] [varchar](50) NULL,
	[fechaN_Usuario] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[idUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Comentario]  WITH CHECK ADD FOREIGN KEY([idPublicacion])
REFERENCES [dbo].[Publicacion] ([idPublicacion])
GO
ALTER TABLE [dbo].[Configuracion]  WITH CHECK ADD FOREIGN KEY([idEntrada_Administrador])
REFERENCES [dbo].[Entrada_Administrador] ([idEntrada_Administrador])
GO
ALTER TABLE [dbo].[Entrada_Administrador]  WITH CHECK ADD FOREIGN KEY([idAdministrador])
REFERENCES [dbo].[Administrador] ([idAdministrador])
GO
ALTER TABLE [dbo].[Entrada_Usuario]  WITH CHECK ADD FOREIGN KEY([idUsuario])
REFERENCES [dbo].[Usuario] ([idUsuario])
GO
ALTER TABLE [dbo].[Hilo]  WITH CHECK ADD FOREIGN KEY([idSubcategoria])
REFERENCES [dbo].[Subcategoria] ([idSubcategoria])
GO
ALTER TABLE [dbo].[Paso1]  WITH CHECK ADD FOREIGN KEY([idEntrada_Usuario])
REFERENCES [dbo].[Entrada_Usuario] ([idEntrada_Usuario])
GO
ALTER TABLE [dbo].[Paso1]  WITH CHECK ADD FOREIGN KEY([idSalida_Usuario])
REFERENCES [dbo].[Salida_Usuario] ([idSalida_Usuario])
GO
ALTER TABLE [dbo].[Paso2]  WITH CHECK ADD FOREIGN KEY([idEntrada_Administrador])
REFERENCES [dbo].[Entrada_Administrador] ([idEntrada_Administrador])
GO
ALTER TABLE [dbo].[Paso2]  WITH CHECK ADD FOREIGN KEY([idSalida_Administrador])
REFERENCES [dbo].[Salida_Administrador] ([idSalida_Administrador])
GO
ALTER TABLE [dbo].[Publicacion]  WITH CHECK ADD FOREIGN KEY([idHilo])
REFERENCES [dbo].[Hilo] ([idHilo])
GO
ALTER TABLE [dbo].[Publicacion]  WITH CHECK ADD FOREIGN KEY([idUsuario])
REFERENCES [dbo].[Usuario] ([idUsuario])
GO
ALTER TABLE [dbo].[Reaccion]  WITH CHECK ADD FOREIGN KEY([idPublicacion])
REFERENCES [dbo].[Publicacion] ([idPublicacion])
GO
ALTER TABLE [dbo].[Reporte]  WITH CHECK ADD FOREIGN KEY([idEntrada_Administrador])
REFERENCES [dbo].[Entrada_Administrador] ([idEntrada_Administrador])
GO
ALTER TABLE [dbo].[Reporte]  WITH CHECK ADD FOREIGN KEY([idPublicacion])
REFERENCES [dbo].[Publicacion] ([idPublicacion])
GO
ALTER TABLE [dbo].[Salida_Administrador]  WITH CHECK ADD FOREIGN KEY([idAdministrador])
REFERENCES [dbo].[Administrador] ([idAdministrador])
GO
ALTER TABLE [dbo].[Salida_Usuario]  WITH CHECK ADD FOREIGN KEY([idUsuario])
REFERENCES [dbo].[Usuario] ([idUsuario])
GO
ALTER TABLE [dbo].[Subcategoria]  WITH CHECK ADD FOREIGN KEY([idCategoria])
REFERENCES [dbo].[Categoria] ([idCategoria])
GO
USE [master]
GO
